
<ul>
	<form class="set">
		<label>Set {{set_sequence}}:</label>
		{{repetitions}} reps
		<input class="removeButton" data-id="21" type="submit" value=" Edit ">
		<input class="removeButton" data-id="21" type="submit" value=" Remove "><br>
	</form>
</ul>