<!-- Creates the Overall Grid -->
<div class="wrapper">
    <div class="logo">
        <h1><a href="/">FitTraker</a></h1>
    </div>

    <div class="login">
        <a href="/login">Log in</a>
    </div>

    <div id="calendar"></div>


    <div class="footer-menu">
        <span><a href="/discover">Discover</a> &nbsp;</span>
        <span><a href="#">Blog</a> &nbsp;</span>
        <span><a href="#">Community</a> &nbsp;</span>
    </div>
</div>
<script>
    //init calendar
    $(function () {

        $("#container").simpleCalendar();

    });

</script>