<!-- Creates the Overall Grid -->
<div class="wrapper">
  <div class="logo">
        <h1><a href="/">FitTraker</a></h1>
    </div>

    <div class="logout">
        <a href="/">Log in</a>
    </div>

    <div class="title">
        <h1>Select a ready-to-go Fitness workout or create a custome one!</h1>
    </div>

    <div class="tone-it-up">
        <label class="workoutName">Tone It Up!</label>
        <br>
        <div class="select-workout">
            <input class="whiteTransButton" data-id="1" type="submit" value=" Select Workout "><br>
        </div>
        <br>
    </div>

    <div class="build">
        <label class="workoutName">Build Strength in 30 days</label>
        <br>
        <div class="select-workout">
            <input class="whiteTransButton" data-id="2" type="submit" value=" Select Workout "><br>
        </div>
        <br>
    </div>

    <div class="flexibility">
        <label class="workoutName">Increase Flexibility and Mobility</label>
        <br>
        <div class="select-workout">
            <input class="whiteTransButton" data-id="3" type="submit" value=" Select Workout "><br>
        </div>
        <br>
    </div>

    <div>

    </div>

</div>