
<!-- Creates the Overall Grid -->
<div class="wrapper">
  <div class="logo">
    <h1> FitTraker </h1>
  </div>

  <div class="login">
    <a href="#">Login</a>
  </div>

  <div class="quote">
    <p>“Strength does  not come from physical capacity. It comes from an indominable will.”</p>
    <p class="author">- Ghandi -</p>
  </div>

  <div class="footer-menu">
    {{!-- note: the &nbsp; forces a white space between elems--}}
    <span><a href="#">Discover</a> &nbsp;</span>
    <span><a href="#">Blog</a> &nbsp;</span>
    <span><a href="#">Community</a> &nbsp;</span>
  </div>
</div>

