<!-- Creates the Overall Grid -->
<div class="wrapper">
    <div class="logo">
        <h1> FitTraker </h1>
    </div>

    <div class="logout">
        <a href="#">Log out</a>
    </div>

    <div class="quote">
        <span>Work hard in silence.</span> <br>
        <span>Let success </span><br>
        <span>be your noise.</span><br>
        <span>- Frank Ocean -</span><br>
    </div>

    <div class="option-menu">
        <input class="whiteTransButton" type="submit" value="Train"><br>
        <input class="whiteTransButton" type="submit" value="Calendar"><br>
        <input class="whiteTransButton" type="submit" value="Discover"><br> 
        <input class="whiteTransButton" type="submit" value="Write Blog"> <br>
        <input class="whiteTransButton" type="submit" value="Feed"> <br>
    </div>
</div>