{{!-- <link rel="stylesheet" href="/assets/css/style-login.css" type="text/css" /> --}}

<!-- Creates the Overall Grid -->
<div class="wrapper">
  <div class="login-page">
      <a class="cancelLoginButton" href="/"> X </a>
        <form class="formContainer">
            <!-- <input type="image" src="images/email-outline.png" alt="username-icon"> -->
            <input class="username" type="text" placeholder="username" name="username" size="15" required>
            <!-- <input type="image" src="images/email-outline.png" alt="password-icon"> -->
            <input class="password" type="password" placeholder="password" name="password" size="15" required>
            
            <a href="/logged"><button class="whiteTransButton" type="button" value="Login"> Login </button></a><br>  
            <button class="whiteTransButton" type="button" value="Google Login"> Google Login </button> 
            <br>
        </form>
        <br>
        <span><a href="#">Create Account</a></span>
        <span>&nbsp; &nbsp;</span>
        <span><a href="#">Forgot Password</a></span>
        <br>
        <br>
  </div>
</div>