<!-- Creates the Overall Grid -->
<div class="wrapper">
    <div class="logo">
        <h1> FitTraker </h1>
    </div>

    <div class="logout">
        <a href="#">Log out</a>
    </div>

    <div class="title">
        <h1 class="fitplan-name">Current Program: Tone up and Build </h1>
        <h2 class="fitplan-curr-day"> Day 1 - Build Body Weight Strength</h2>
        <br>
        <h4 class="info-time">15 mins, 2 exercises.</h4>
        <h4 class="info-equipment">No Gym machines needed</h4>
        <h4 class="info-rest">30-60 sec rest between sets</h4>
    </div>

    <div class="exerciseDiv">
        <div>
            <h3> Exercise 1: Push Ups ( 3 Sets - 10 reps ea )</h3>
            <form class="set">
                <label>Set 1:</label>
                <input class="set" data-id="1" type="text" size="5">
                <input class="removeButton" data-id="1" type="submit" value=" Remove "><br>
                <label>Set 2:</label>
                <input class="set" data-id="1" type="text" size="5">
                <input class="removeButton" data-id="1" type="submit" value=" Remove "><br>
            </form>
        </div>

    </div>

    <div class="optionButtons">
        <span><input class="whiteTransButton left-button" type="submit" data-workingout=false value="Start workout"> &nbsp;</span>
        <span><input class="whiteTransButton right-button" type="submit" data-workingout=false value="Exit"></span>
    </div>

</div>