<!-- Creates the Overall Grid -->
<div class="wrapper">
    <div class="logo">
        <h1> FitTraker </h1>
    </div>

    <div class="logout">
        <a href="#">Log out</a>
    </div>

    <div class="title">
        <h1 class="fitplan-name">Current Program: {{data.[0].fitplan_name}} </h1>
        <h2 class="fitplan-day"> Day 1 - Body Weight Slay</h2>
        <br>
        <h4 class="info-num-exer">Total exercises: 2</h4>
        <h4 class="info-time">Completion time in mins: 30</h4>
        <h4 class="info-equipment">Gym equipment needed: NO</h4>

    </div>

    <div class="exerciseDiv">
        <div>
            <h3>Exercise 1: Push Ups</h3>
            <form class="set">
                <label>Set 1:</label>
                10 reps
                <input class="removeButton" data-id="11" type="submit" value=" Edit ">
                <input class="removeButton" data-id="11" type="submit" value=" Remove "><br>
                <label>Set 2:</label>
                10 reps
                <input class="removeButton" data-id="12" type="submit" value=" Edit ">
                <input class="removeButton" data-id="12" type="submit" value=" Remove "><br>
                <label>Set 3:</label>
                10 reps
                <input class="removeButton" data-id="13" type="submit" value=" Edit ">
                <input class="removeButton" data-id="13" type="submit" value=" Remove "><br>
            </form>
            <input class="whiteTransButton" data-id="1" type="submit" value=" Add Set "><br>
        </div>
        <br>
        <div>
            <h3>Exercise 2: Squats</h3>
            <form class="set">
                <label>Set 1:</label>
                15 reps
                <input class="removeButton" data-id="21" type="submit" value=" Edit ">
                <input class="removeButton" data-id="21" type="submit" value=" Remove "><br>
                <label>Set 2:</label>
                15 reps
                <input class="removeButton" data-id="22" type="submit" value=" Edit ">
                <input class="removeButton" data-id="22" type="submit" value=" Remove "><br>
                <label>Set 3:</label>
                15 reps
                <input class="removeButton" data-id="23" type="submit" value=" Edit ">
                <input class="removeButton" data-id="23" type="submit" value=" Remove "><br>
                <label>Set 4:</label>
                15 reps
                <input class="removeButton" data-id="24" type="submit" value=" Edit ">
                <input class="removeButton" data-id="24" type="submit" value=" Remove "><br>
            </form>
            <input class="whiteTransButton" data-id="2" type="submit" value=" Add Set "><br>
        </div>
        <br>
    </div>
    
    <div class="optionButtons">
        <span><input class="whiteTransButton startStop-button" type="submit" data-workingout=false
                value="Start workout">
            &nbsp;</span>
        <span><input class="whiteTransButton exit-button" type="submit" data-workingout=false value="Exit"></span>
    </div>

</div>