<!-- Creates the Overall Grid -->
<div class="wrapper">
    <div class="logo">
        <h1> FitTraker </h1>
    </div>

    <div class="logout">
        <a href="/">Log out</a>
    </div>

    <div class="title">
        <h1>No current program?</h1>
        <p>No worries! Let's get <a href="/discover"> started!</a></p>
    </div>
</div>